# Airflow - No queremos subir logs ni bases de datos locales de SQLite
logs/
airflow.db
airflow.cfg
webserver_config.py

# Docker - A veces se generan archivos temporales
.docker/

# Entorno virtual
venv/
__pycache__/
.pytest_cache/
.DS_Store

# Variables de entorno (Seguridad)
.env

# Datos locales
data/
*.csv
*.json